<p>navbar works!</p>
<nav class="navbar navbar-expand-lg navbar-dark nav-bg-color ">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/Recursos-Caffe//Logo_cafe.jpg" width="30" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end  " id="navbarSupportedContent">
        <ul class="navbar-nav   ">
            <li class="nav-item active">
                <a class="nav-link" mat-button [routerLink]="['/']">
                    <mat-icon aria-hidden="false" aria-label="">local_cafe</mat-icon>

                    <span class="sr-only">(current)</span>

                </a>

            </li>

            <li class="nav-item" *ngIf="auth.isLogedIn() | async">
                <a class="nav-link" mat-button [routerLink]="['/products']">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" mat-button [matMenuTriggerFor]="menu">Menu</a>
                <mat-menu #menu="matMenu">
                    <a class="nav-link" mat-menu-item [routerLink]="['/login']">Iniciar sesion</a>
                    <a class="nav-link" mat-menu-item [routerLink]="['/register']"> Registrarse</a>
                </mat-menu>
            </li>
            <li class="nav-item" *ngIf="auth.isLogedIn() | async">
                <a class="nav-link" mat-button [routerLink]="['/']" (click)="auth.Logout()">
                    <mat-icon aria-hidden="false" aria-label="">sensor_door</mat-icon>
                    <span class="sr-only">(current)</span>

                </a>
            </li>
        </ul>
    </div>
</nav>