<form [formGroup]="form" class="form-style" (ngSubmit)="onSubmit()">
    <div class="form-group">


    </div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>

    <h1>Registro</h1>
    <div class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label class="text-bold">Documento</mat-label>
            <input formControlName="id_p" matInput placeholder="1094970...">
        </mat-form-field>

    </div>
    <div class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="pepe" formControlName="name_p">
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="321-778-1443" formControlName="phone">
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label>password</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label>Edad</mat-label>
            <input matInput placeholder="edad" formControlName="age">
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label>correo</mat-label>
            <input matInput placeholder="PEPE@gmail.com" formControlName="mail_p">
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary" (click)="register()">Primary</button>
</form>