<p>appoint works!</p>
<div class="form-group">
    <div class="form-field">
        <div class="select-wrap">
            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
            <mat-form-field appearance="fill">
                <mat-label>Select an service</mat-label>
                <mat-select disableRipple>
                    <mat-option value="1">Neurlogia</mat-option>
                    <mat-option value="2">Cardiologia</mat-option>
                    <mat-option value="3">Odontologia</mat-option>
                    <mat-option value="1">Oftamologia</mat-option>
                    <mat-option value="2">Medicina General</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div>
</div>